extends layout

block metas

block title
  title ThisGreatApp!

block headScripts

block bodyScripts

block content

    section(id="splashSection")

      .row
        .col-md-7

          h2.short-top The 2016 presidential election is here!
            br
            | Who do you support and what are your comments?
          br
          br
          section.press
            a(href="" class="" role="button")
              button.btn-success.btn-lg
                span Sign Up Now!