include mixins/mixins

doctype html

html(lang="en-US")

  head
  
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block metas

    block title

    link(href='data:image/x-icon;', type='image/x-icon', rel='shortcut icon') 
    intercept-url(pattern="/favicon.ico" access="ROLE_ANONYMOUS")
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    <!-- link(href='/css/main1.css', rel='stylesheet') -->
    link(href='/css/styles.css', rel='stylesheet')
    link(href='/css/pageStyles.css', rel='stylesheet')
    link(href='/css/mobileStyles.css', rel='stylesheet')
    link(href='/css/mobilePageStyles.css', rel='stylesheet')
    block links
    script(src='/jquery/jquery-min-3.2.1.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/mobileSupportScripts.js')
    block headScripts

    script.
      var isSafari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)
      var interactiveFormValidationEnabled = false
      var appVersion = navigator.appVersion
      var webkitVersion1 = appVersion.indexOf('AppleWebKit/') + 12
      var webkitVersion2 = webkitVersion1 + 3
      var webkitVersion = appVersion.slice(webkitVersion1, webkitVersion2)
      webkitVersion = parseInt(webkitVersion, 10)
      if (webkitVersion >= 603 || !isSafari) {
        interactiveFormValidationEnabled = true
      }

    script.

      var mobile

      $(function() {

        var mq = function(query, callback) {
          var host = {}

          if(!!(window && window.matchMedia)) {
            var res = window.matchMedia(query)
            callback.apply(host, [res.matches, res.media])
            res.addListener(function(changed) {
              callback.apply(host, [changed.matches, changed.media])
            })
          } else {
            callback.apply(host, [$(window).width() <= '600'])

          }
        }




        mq('all and (max-width: 600px)', function(match) {

          if(match && !$('body').hasClass('mobile')) {

            console.log('>>>>>>>>>>>> mq YM: ', $('header nav.mobile').height())
            mobile = true
            //$('#navBackground').css('height', 800)
            $('body').addClass('mobile')

          } else {

            console.log('>>>>>>>>>>>> mq NM: ', $('header nav.mobile').height())
            mobile = false
            $('#navBackground').css('height', $('header .contentWrapper').height())
            $('body').removeClass('mobile')
          }


        })




        var myEfficientFn = debounce(function() {


          if ( mobile ) {

            console.log('>>>>>>>>>>>> myEfficientFn YM')
            //$('header #navBackground').css('height', 50)
          }


          if ( !mobile ) {

            console.log('>>>>>>>>>>>> myEfficientFn NM')

            if ( $('header .contentWrapper').height() > 130) {
              $('#navBackground').css('height', $('header .contentWrapper').height())
            }

            if ( $('header .contentWrapper').height() === 130) {
              $('header #navBackground').css('height', $('header .contentWrapper').height())
            }

          }


        }, 10)

        window.addEventListener('resize', myEfficientFn)
      })

      function debounce(func, wait, immediate) {
        var timeout
        return function() {

          var context = this, args = arguments

          var later = function() {
            timeout = null
            if (!immediate) func.apply(context, args)
          }

          var callNow = immediate && !timeout
          clearTimeout(timeout)
          timeout = setTimeout(later, wait)

          if (callNow) {
            func.apply(context, args)
          }
        }
      }

  |
  body#home
    header
      #navBackground
      |          
      .contentWrapper
        img#openMenu.mobile.menuIcon(src='/images/icon-openMenu.png')
        |             
        img#closeMenu.mobile.menuIcon(src='/images/icon-closeMenu.png')
        |
        div.mainLogo             
          img#indexMainLogo(src='/images/LOGO2016.png', alt='Election App 2017', itemprop='image', width='353', height='69')
        |             
        nav
          ul
            li.current
              a(href='') HOME
            |                   
            li
              a(href='') LOG IN
            |                   
            li
              a(href='') SIGN UP
            |                   
            li
              a(href='') MEMBERS ONLY
            |                   
            li
              a(href='') CUSTOMER SERVICE
            |                   
            li
              a(href='') CONTACT
            |                   
            li
              a(href='') TEAM
            |                   
            li
              a(href='') ABOUT
        |             
        nav.mobile
          ul
            li.current
              a(href='') HOME
            |                   
            li
              a(href='') LOG IN
            |                   
            li
              a(href='') SIGN UP
            |                   
            li
              a(href='') MEMBERS ONLY
            |                   
            li
              a(href='') CUSTOMER SERVICE
            |                   
            li
              a(href='') CONTACT
            |                   
            li
              a(href='') TEAM
            |                   
            li
              a(href='') ABOUT
    |       
    main
      block content
    |
    footer
      .contentWrapper
        #socialPages
          a#twitterPage(href='', itemprop='sameas')
            img(src='/images/socialMediaIcon-twitter.png', alt='Follow ElectionApp2017 on Twitter', width='29', height='29')
          a#facebookPage(href='', itemprop='sameas')
            img(src='/images/socialMediaIcon-facebook.png', alt='Follow ElectionApp2017 on Facebook', width='29', height='29')
          a#instagramPage(href='', itemprop='sameas')
            img(src='/images/socialMediaIcon-instagram.png', alt='Follow ElectionApp2017 on Instagram', width='29', height='29')
        |             
        nav
          ul
            li.current
              a(href='') HOME
            |                   
            li
              a(href='') MEMBERS ONLY
            |                   
            li
              a(href='') CUSTOMER SERVICE
            |                   
            li
              a(href='') CONTACT
            |                   
            li
              a(href='') TEAM
            |                   
            li
              a(href='') ABOUT
            |                   
            li
              a(href='') CONTACT
            |                   
            li
              a(href='') FAQ
        |             
        p
          | &copy;
          span(itemprop='copyrightYear') 2016
          |  
          |                
          span(itemscope='', itemtype='', itemprop='copyrightHolder', itemref='socialPages')
            span#ownerInfo
              meta(itemprop='logo', content='')
              |                      
              meta(itemprop='url', content='')
              |                      
              span(itemprop='name') ElectionApp2017
              |  | 
              span(itemprop='description') The Election App for 2017
              |  | 
              span(itemscope='', itemtype='', itemprop='address')
                span(itemprop='streetAddress') 1616 West Street
                | , 
                span(itemprop='addressLocality') Boston
                | , 
                span(itemprop='addressRegion') NY
                |  
                span(itemprop='postalCode') 10011
        |             
        p.mobile &copy; 2016 ElectionApp2017

    block bodyScripts
